/* 标题字体 Rubik-Medium */
@font-face {
    font-family: 'Rubik-Medium';
    src: url('Rubik-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* 内文字体 Rubik-Regular */
@font-face {
    font-family: 'Rubik-Regular';
    src: url('Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* 时间专用字体 DS-DIGIB */
@font-face {
    font-family: 'DsDigi';
    src: url('DS-DIGIB.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: 'Rubik-Regular', Helvetica;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: #000000;
}

/* 顶部导航 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 1rem 1.6rem;
    user-select: none;
}

.title {
    font-family: 'Rubik-Medium';
    font-size: 1rem;
}

.instagram,
.work {
    font-size: 1rem;
    padding: 0.2rem 0.6rem;
    transition: all 0.2s ease;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.instagram:active,
.work:active {
    background-color: #ffffff1d;
}


.instagram:hover,
.work:hover {

    background-color: #ffffff1d;
    border-radius: 0.2rem;
}

/* 底部 */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem;
}

.mail {
    font-size: 1rem;
    display: flex;
}

#Collaboration {
    user-select: none;
}

#copymail {
    transition: all 0.2s ease;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

/* 點擊純白背景 */
#copymail:active {
    background-color: #ffffff1d;
}

#copymail:hover {
    border-bottom: 1px solid currentColor;
}

.time {
    font-size: 1rem;
    user-select: none;
}

#hk-time {
    font-family: 'DsDigi', sans-serif;
    letter-spacing: 2px;
}

